#real-alert{
  background-color: red;
}

#test-only{
  background-color: darkblue;
  color: white;
}

.missile-link{
  display: block;
  font-size: 20px;
  border-color: black;
  border-style: solid;
}
